---
BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 150
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
Language: Cpp